/* цвет основного текста */
/* вторичный цвет текста */
/* белый */
/* акцент */
/* вторичный цвет фона */

/* п.1 подключаем шрифты в файле HTML, а потом normalize.min.css */
/* п.2 подключаем переменные */
:root{
    --main-text-cl: #757575;
    --accent-cl: #2196F3;
    --title-text-cl: #212121;
    --wight-text-cl: #FFFFFF;
    --bg-dark-cl: #2F303A;
    --bg-section-cl: #EEEEEE;
}
/* п.3 задаем базовые стили и потом проверяем работают ли */
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--main-text-cl);
}

/* стандартный набор стилей для container, еще можно добавить padding left b right
 если есть*/
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
    outline: 2px solid tomato;
}
h1, 
h2, 
h3 {
    margin-top: 0px;
}

p {
    margin: 0px;
}

html {
    box-sizing: border-box;
}

.list{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    width: auto;
}

/* класс для всех ссылок <a>, убираем подчеркивание и задаем цвет */
.link{
    text-decoration: none;
    color: inherit;
}

.link:hover,
.link:focus,
.btn:hover,
.btn:focus{
    color: var(--accent-cl);
}

/* класс для заголовка страницы h1 */
.page-title{
    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--wight-text-cl);
    padding-top: 200px;
    padding-right: 452px;
    padding-left: 452px;
    margin-bottom: 30px;
}

/* класс для заголовков секций h2 на странице СТУДИО */
.section-title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-cl);
}

/* класс для заголовка секции -преимущества-  */
.section-advantages-title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-cl);
}


/* класс который относится для заголовков h3 на странице студио (имена сотрудников)*/
.team-name-tittle{
    font-weight: 500;
    color: var(--title-text-cl);
}

/* класс для заголовка страницы h2 на ПОРТФОЛИО */
.work-card-title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-cl);
}

.btn{
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-cl);
    border-radius: 4px;
}

/* класс для ссылок по страницам в навигации*/
.menu-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-cl);
    margin-right: 50px;
}



/* класс для описания пунктов членов команды*/
.team-item {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
}

.work-card-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-cl);
}

.dark-bg{
    background-color: var(--bg-dark-cl);
}



.section-contacts {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--wight-text-cl);
}

.dark-bg .list .link {
    color: rgba(255, 255, 255, 0.6);
}

.link-connection{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.container-our-team{
    background-color: var(--bg-section-cl);
    outline: solid tomato;
    width: 1600px;
}

/* не нашел что это 
.img-team {
    margin-top: 0px;
    margin-bottom: 30px;
}
*/

.menu {
    display: inline-flex;
}

.menu-link:not(:last-child) {
    margin-right: 50px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 24px;
    padding-bottom: 25px;
}

.navigation .logo {
    margin-right: 93px;
}

.link-navigation {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.link-navigation .link-connection:first-child {
    margin-right: 50px;
}

.logo {
    font-family: Raleway; sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-cl);
}

.part-logo {
    color: var(--title-text-cl);
}

.button-hero {
    width: 200px;
    height: 50px;
    padding-top:  10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    /* padding: 30px;
    margin: 100px;
    background-color: #ffeb3b;

    
    */
    text-align: center;
    display: inline-block;
    margin-left: 700px;

}